@import url('https://fonts.googleapis.com/css2?family=Martel:wght@200;300;400;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Martel', serif;
    font-weight: 400;
    color: #0B0A08;
    background-color: #D5D1CB;
    overflow: hidden;
}

/* headings */
h1,
h2 {
    font-family: 'Quicksand', sans-serif;
    text-transform: lowercase;
    letter-spacing: 5px;
    color: #453d31;
    font-size: 200%;
}

h3 {
    font-family: 'Quicksand', sans-serif;
    text-transform: lowercase;
    letter-spacing: 5px;
    color: #453d31;
    font-size: 150%;
}

h4 {
    font-family: 'Martel', sans-serif;
    color: #D5D1CB;
    text-align: center;
    font-size: 120%;
    font-weight: 600;
}

/* navigation links */
#navbar {
    font-size: 100%;
    letter-spacing: 1px;
    margin: 0.5vw 1dvw;
    height: 4.5dvh;
    /* line-height: 40px; */
    display: flex;
    flex: row wrap;
    justify-content: flex-end;
}

.item {
    padding: 0 12.5px;
}

#navbar li {
    list-style-type: none;
    margin: 0.5vw;
}

#navbar a {
    text-decoration: none;
    color: inherit;
}

#navbar a:hover {
    border-bottom: 1.5px solid #0B0A08;
}

.active {
    border-bottom: 1.5px solid #0B0A08;
}

/* home page */

/* hero image */
.hero-image {
    background-image: url(../images/hero-image2.webp);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #0c0e0f;
    height: 70dvh;
    width: 100dvw;
}

.hero-image h1 {
    font-size: 500%;
    text-align: left;
    letter-spacing: 10px;
    bottom: 50%;
    background: rgba(14, 14, 15, 0.4);
    color: #D5D1CB;
    width: 100dvw;
    padding: 20px 100px;
}

/* branding info */
#brandinginfo h2 {
    font-family: 'Quicksand', sans-serif;
    text-transform: lowercase;
    letter-spacing: 5px;
    color: #453d31;
    font-size: 200%;
    padding: 10px 100px;
    text-align: right;
}

/* classical facts page */
.classicalfacts h1 {
    color: #D5D1CB;
    background: rgba(14, 14, 15, 0.8);
    padding: 1em;
    height: 4.5dvh;
    width: 100dvw;
    text-align: center;
}
/* code (inspired) from WebDevSimplified https://github.com/WebDevSimplified/css-image-hover-effect and Kevin Powell*/

.grid {
    padding: 0.5em;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
    height: 70dvh;
    width: 100dvw;
}

.img-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.img-wrapper>img {
    display: block;
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
}

.img-wrapper>.content {
    position: absolute;
    inset: 0;
    font-size: 1.8em;
    padding: 1em;
    background: rgba(213, 209, 203, .4);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* .img-wrapper>img,
.img-wrapper>.content {
    transition: 200ms ease-in-out;
} */

.img-wrapper>img {
    filter: blur(5px)
}

/* .img-wrapper:hover>.content.fade {
    opacity: 1;
}

.img-wrapper:hover>img.blur {
    filter: blur(5px)
} */

/* about me  */
.aboutmeimg {
    background-image: url(../images/piano.webp);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #0c0e0f;
    height: 80dvh;
    width: 100dvw;
}

.aboutmeimg h1 {
    color: #D5D1CB;
    background: rgba(14, 14, 15, 0.4);
    padding: 1em;
    height: 4.5dvh;
    width: 100dvw;
    text-align: center;
}

.aboutme {
    display: grid;
    place-items: center;
}

.aboutme p {
    backdrop-filter: invert(80%);
    line-height: 1.5;
    background: rgba(213, 209, 203, .75);
    width: 70ch;
    height: auto;
    padding: 1em;
    font-size: 110%;
}

.aboutme a {
    font-weight: 700;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #0B0A08;
}

.aboutme p a:link,
a:visited {
    text-decoration: none;
    color: inherit;
}

/* lets talk */

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    padding: 0;
    margin: 0;
}

.letstalkimg {
    background-image: url(../images/letstalkimg.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #D5D1CB;
    height: 80dvh;
    width: 100dvw;
}

.letstalk {
    position: relative;
    letter-spacing: 0.5px;
    font-size: 110%;
    bottom: 50%;
    background: rgba(14, 14, 15, 0.8);
    color: #D5D1CB;
    width: 70dvw;
    height: 80dvh;
    padding: 0 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.letstalkimg h1 {
    color: #D5D1CB;
    background: rgba(14, 14, 15, 0.8);
    padding: 1em;
    height: 4.5dvh;
    text-align: center;
}

.letstalkimg h2 {
    font-family: 'Martel', sans-serif;
    color: #D5D1CB;
    text-align: center;
    font-size: 120%;
    font-weight: 600;
}

#pronoun {
    width: 10dvw;
}

.contactinfo {
    display: flex;
    flex: row wrap;
    align-content: normal;
    align-items: center;
    justify-content: space-between;
    width: max-width;
}

.musicstyles {
    display: flex;
    align-items: baseline;
    flex-flow: row wrap;
    justify-content: space-evenly;
}

.musicstyles label {
    font-size: 100%;
}

.addlinfo {
    text-align: center; 
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* https://developer.mozilla.org/en-US/docs/Web/HTML/Element/button */
.button {
    background-color: rgba(213, 209, 203, .8);
    width: 10em;
    text-align: center;
    line-height: 2.5;
    padding: 6px;
    font-size: 0.8rem;
    border-radius: 10px;   
}

.button h2 {
    color: #0B0A08;
}

.button:hover {
    background-color: rgba(213, 209, 203, 0.8)
}

input::placeholder {
    font-style: italic;
    text-align: center;
}

textarea::placeholder {
    font-style: italic;
    text-align: center;
}

/* footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100dvw;
    text-align: center;
    height: 8dvh;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.social-networks i {
    font-size: 200%;
    margin: 1%;
    padding: 2%;
    color: #453d31;
}

/* media queries */

/* For larger to medium screens size from 1200px wide and down */

@media screen and (max-width: 1200px) {
    .body {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }

    .img-wrapper>.content {
        font-size: 16px;
    }
    .hero-image {
        width: 115dvw;
    }

    .hero-image h1 {
        font-size: 400%;
        letter-spacing: 5px;
    }

    #brandinginfo h2 {
        font-size: 150%;
    }

    .classicalfacts h1 {
        font-size: 180%;
    }

    .aboutme h1 {
        font-size: 180%;
    }

    .aboutme p {
        font-size: 100%;
    }

    .letstalkimg h1 {
        font-size: 180%;
    }
}

/* For medium screen sizes 800px and down */

@media screen and (max-width: 800px) and (min-width: 651px) {
    .body {
        overflow: scroll;
    }

    .grid,
    .img-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .img-wrapper>.content {
        font-size: 16px;
    }

    .hero-image h1 {
        font-size: 250%;
        letter-spacing: 4px;
    }

    #brandinginfo h2 {
        font-size: 120%;
    }

    .classicalfacts h1 {
        font-size: 140%;
    }

    .aboutmeimg h1 {
        font-size: 140%;
    }

    .aboutme p {
        font-size: 85%;
    }

    .letstalkimg h1 {
        font-size: 140%;
    }

    .letstalk {
        font-size: 16px;
    }

    .contactinfo {
        font-size: 80%;
        width: 70dvw;
        flex-wrap: wrap;
    }

    .letstalkimg h2 {
        font-size: 100%;
    }

    .musicstyles {
        font-size: 80%;
    }
    
    .musicstyles label {
        font-size: 80%;
    }
    
    .addlinfo {
        font-size: 80%;
    }
}

/* For small screen sizes 650px and down */

@media screen and (max-width: 650px) {

    .body {
        overflow: scroll;
    }

    #navbar {
        font-size: 50%;
    }

    footer {
        height: 4dvh;
    }

    .social-networks i {
        font-size: 70%;
    }

    .grid,
    .img-wrapper {
        grid-template-columns: repeat(2, 0.5fr);
    }

    .img-wrapper>.content {
        font-size: 12px;
    }

    .hero-image h1 {
        font-size: 150%;
        letter-spacing: 2px;
    }

    #brandinginfo h2 {
        font-size: 70%;
        padding: 5px 40px;
    }

    .classicalfacts h1 {
        font-size: 120%;
    }

    .aboutmeimg h1 {
        font-size: 120%;
    }

    .aboutme p {
        font-size: 60%;
        width: 50ch;
    }

    .letstalk {
        font-size: 12px;
    }

    .contactinfo {
        display: grid;
        font-size: 80%;
    }

    .letstalkimg h2 {
        font-size: 100%;
    }

    .musicstyles {
        font-size: 80%;
    }
    
    .musicstyles label {
        font-size: 80%;
    }
    
    .addlinfo {
        font-size: 80%;
    }
}

@media (hover: hover) {
.img-wrapper>img,
.img-wrapper>.content {
    transition: 200ms ease-in-out;
}

.img-wrapper>img {
    filter: none;
}

.img-wrapper>.content.fade {
    opacity: 0;
}

.img-wrapper:hover>.content.fade {
        opacity: 1;
    }
    
    .img-wrapper:hover>img.blur {
        filter: blur(5px)
    }
}

/* For small screens in landscape mode 400px wide and down */

@media screen and (max-width: 900px) and (orientation: landscape) {


    .body {
        overflow: scroll;
    }

    #navbar {
        font-size: 50%;
    }

    footer {
        height: 8dvh;
    }

    .social-networks i {
        font-size: 70%;
    }

    .hero-image {
        height: 60dvh;
    }

    .grid,
    .img-wrapper {
        grid-template-columns: repeat(2, 0.5fr);
    }

    .img-wrapper>.content {
        font-size: 12px;
    }

    .hero-image h1 {
        font-size: 150%;
        letter-spacing: 2px;
    }

    #brandinginfo h2 {
        font-size: 70%;
        padding: 2px 20px;
    }

    .classicalfacts h1 {
        font-size: 100%;
        height: 2dvh;
    }

    .aboutmeimg h1 {
        font-size: 100%;
        height: 2dvh;
    }

    .aboutme p {
        font-size: 60%;
        width: 100ch;
    }

    .letstalkimg h1 {
        font-size: 100%;
        height: 2dvh;
    }

    .letstalk {
        font-size: 12px;
        width: 60dvw;
        height: 68dvh;
        padding-bottom: 5%;
    }

    .contactinfo {
        font-size: 80%;
    }
    
    .letstalkimg h2 {
        font-size: 100%;
    }

    .musicstyles {
        font-size: 80%;
    }
    
    .musicstyles label {
        font-size: 80%;
    }
    
    .addlinfo {
        font-size: 80%;
    }

    .button {
        width: 8em;
        line-height: 2;
        padding: 4px;
        font-size: 80%;
    }
}