@import url('https://fonts.googleapis.com/css2?family=Martel:wght@200;300;400;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Martel', serif;
    font-weight: 400;
    color: #0B0A08;
    background-color: #D5D1CB;
    overflow: hidden;
}

/* headings */
h1,
h2 {
    font-family: 'Quicksand', sans-serif;
    text-transform: lowercase;
    letter-spacing: 5px;
    color: #453d31;
    font-size: 200%;
}

h3 {
    font-family: 'Quicksand', sans-serif;
    text-transform: lowercase;
    letter-spacing: 5px;
    color: #453d31;
    font-size: 150%;
}

/* navigation links */
#navbar {
    font-size: 100%;
    letter-spacing: 1px;
    margin: 0.5vw 1dvw;
    height: 4.5dvh;
    /* line-height: 40px; */
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.item {
    padding: 0 12.5px;
}

#navbar li {
    list-style-type: none;
    margin: 0.5vw;
}

#navbar a {
    text-decoration: none;
    color: inherit;
}

#navbar a:hover {
    border-bottom: 1.5px solid #0B0A08;
}

.active {
    border-bottom: 1.5px solid #0B0A08;
}

/* hero image */

.hero-image {
    background-image: url(../images/hero-image2.webp);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #0c0e0f;
    height: 70dvh;
    width: 100dvw;
}

.hero-image h1 {
    font-size: 500%;
    letter-spacing: 10px;
    bottom: 50%;
    background: rgba(14, 14, 15, 0.4);
    color: #D5D1CB;
    width: 100dvw;
    padding: 20px 100px;
}

/* branding info */

#brandinginfo h2 {
    padding: 10px 100px;
    text-align: right;
}

/* code from WebDevSimplified https://github.com/WebDevSimplified/css-image-hover-effect and Kevin Powell*/

.grid {
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(3, 1fr);
    height: 80dvh;
    width: 100dvw;
}

.img-wrapper {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.img-wrapper>img {
    display: block;
    width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: center;
}

.img-wrapper>.content {
    position: absolute;
    inset: 0;
    font-size: 2em;
    padding: 1em;
    background: rgba(213, 209, 203, .4);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* .img-wrapper>img,
.img-wrapper>.content {
    transition: 200ms ease-in-out;
} */

.img-wrapper>.content.fade {
    opacity: 0;
}

/* .img-wrapper:hover>.content.fade {
    opacity: 1;
}

.img-wrapper:hover>img.blur {
    filter: blur(5px)
} */

/* about me  */
.aboutmeimg {
    background-image: url(../images/piano.webp);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #0c0e0f;
    height: 80dvh;
    width: 100dvw;
}

.aboutme {
    display: grid;
    place-items: center;
}

.aboutme p {
    backdrop-filter: invert(80%);
    line-height: 1.5;
    background: rgba(213, 209, 203, .75);
    width: 70ch;
    height: auto;
    padding: 1em;
    font-size: 110%;
}

.aboutme a {
    font-weight: 700;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted #0B0A08;
}

.aboutme p a:link,
a:visited {
    text-decoration: none;
    color: inherit;
}

/* lets talk */

button,
input,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    padding: 0;
    margin: 0;
}

.letstalkimg {
    background-image: url(../images/letstalkimg.webp);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #D5D1CB;
    height: 85dvh;
    width: 100dvw;
}

.letstalk {
    position: absolute;
    letter-spacing: 0.5px;
    font-size: 110%;
    bottom: 50%;
    background: rgba(14, 14, 15, 0.8);
    color: #D5D1CB;
    width: 70dvw;
    height: 70dvh;
    padding: 20px 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#pronoun {
    width: 10dvw;

}
.contactinfo {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.musicstyles {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}

/* .musicstyles > input {
    vertical-align: text-bottom;
} */

.addlinfo {
    align-items: center;
    resize: none;
}

/* https://developer.mozilla.org/en-US/docs/Web/HTML/Element/button */
.button {
    width: 10em;
    text-align: center;
    /*  text-transform: uppercase; */
    border: 0;
    line-height: 2.5;
    padding: 0 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(213, 209, 203, 0.5)
}

.button:hover {
    background-color: rgba(213, 209, 203, 0.8)
}

/* .button:active {
    box-shadow: inset -2px -2px 3px rgba(213, 209, 203, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
} */

input::placeholder {
    font-style: italic;
}

textarea::placeholder {
    font-style: italic;
}

/* footer */
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100dvw;
    text-align: center;
    height: 8dvh;
}

.social-networks {
    text-align: center;
}

.social-networks>li {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.social-networks i {
    font-size: 200%;
    margin: 1%;
    padding: 2%;
    color: #453d31;
}

/* media queries */

/* For larger to medium screens size from 1200px wide and down */

@media screen and (max-width: 1200px) {
    .body {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }

    .img-wrapper>.content {
        font-size: 18px;
    }
    .hero-image {
        width: 115dvw;
    }

    .hero-image h1 {
        font-size: 400%;
        letter-spacing: 5px;
    }

    #brandinginfo h2 {
        font-size: 150%;
    }

    .aboutme p {
        font-size: 100%;
    }
}

/* For medium screen sizes 800px and down */

@media screen and (max-width: 800px) and (min-width: 651px) {
    .body {
        overflow: scroll;
    }

    .grid,
    .img-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .img-wrapper>.content {
        font-size: 16px;
    }

    .hero-image h1 {
        font-size: 350%;
        letter-spacing: 5px;
    }

    #brandinginfo h2 {
        font-size: 120%;
    }

    .aboutme p {
        font-size: 90%;
    }

    .letstalk {
        font-size: 16px;
    }
}

/* For small screen sizes 650px and down */

@media screen and (max-width: 650px) {
    .body {
        overflow: scroll;
    }

    #navbar {
        font-size: 50%;
    }

    .grid,
    .img-wrapper {
        grid-template-columns: repeat(2, 0.5fr);
    }

    .img-wrapper>.content {
        font-size: 12px;
    }

    .hero-image h1 {
        font-size: 250%;
        letter-spacing: 5px;
    }

    #brandinginfo h2 {
        font-size: 100%;
    }

    .aboutme p {
        font-size: 60%;
    }

    .letstalk {
        font-size: 12px;
    }
}

@media (hover: hover) {
.img-wrapper>img,
.img-wrapper>.content {
    transition: 200ms ease-in-out;
}

.img-wrapper>.content.fade {
    opacity: 0;
}
.img-wrapper:hover>.content.fade {
        opacity: 1;
    }
    
    .img-wrapper:hover>img.blur {
        filter: blur(5px)
    }
}