@import url('https://fonts.googleapis.com/css2?family=Martel:wght@200;300;400;600;700;800;900&family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Martel', serif;
    font-weight: 400;
    color: #0B0A08;
    background-color: #D5D1CB;
}

/* headings */
h1, h2 {
    font-family: 'Quicksand', sans-serif;
    text-transform: lowercase;
    letter-spacing: 5px;
    color: #453d31;
    font-size: 200%;
}

h3 {
    font-family: 'Quicksand', sans-serif;
    text-transform: lowercase;
    letter-spacing: 5px;
    color: #453d31;
    font-size: 150%;
}

/* navigation links (need to increase spacing between page names)*/
#navbar {
    font-size: 110%;
    letter-spacing: 1px;
    margin: 0.5vw 1vw;
    /* height: 4.5vh;
    line-height: 40px; */

    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#item {
    padding: 0 12.5px;
}


#navbar li {
    list-style-type: none;
    margin: 0.5vw;
}

#navbar a {
    text-decoration: none;
    color: inherit;
}

#navbar a:hover {
    border-bottom: 1.5px solid #0B0A08;
}

.active {
    border-bottom: 1.5px solid #0B0A08;
}

/* hero image */

.hero-image {
    background-image: url(/assets/images/hero-image2.jpg);
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #0c0e0f;
    height: 70vh;
    width: 100vw;
}

.hero-image h1 {
    font-size: 500%;
    position: center;
    bottom: 50%;
    background: rgb(14, 14, 15);
    background: rgba(14, 14, 15, 0.4);
    color: #D5D1CB;
    width: 100%;
    padding: 20px 100px;
}

/* branding info */

#brandinginfo h2 {
    padding: 10px 100px;
}